# Local Netlify folder
.netlify
divinetruthascension-v2.zip
divinetruthascension@gmail.com divinetruthascension-dev
divinetruthascension@gmail.com divinetruthascension-dev.pub
divinetruthascension@gmail.com divinetruthascension-dev
divinetruthascension@gmail.com divinetruthascension-dev.pub
